<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.web.mapper.Mapper">
	<resultMap id="Patient" type="com.hospital.web.domain.Patient" >
		<id property="id" column="pat_id"/>
		<result property="nurID" column="nur_id"/>
		<result property="docID" column="doc_id"/>
		<result property="pass" column="pat_pass"/>
		<result property="name" column="pat_name"/>
		<result property="gen" column="pat_gen"/>
		<result property="jumin" column="pat_jumin"/>
		<result property="addr" column="pat_addr"/>
		<result property="phone" column="pat_phone"/>
		<result property="email" column="pat_email"/>
		<result property="job" column="pat_job"/>
	</resultMap>
	<resultMap id="Doctor" type="com.hospital.web.domain.Doctor" >
		<id property="id" column="doc_id"/>
		<result property="pass" column="doc_pass"/>
		<result property="name" column="doc_name"/>
		<result property="gen" column="doc_gen"/>
		<result property="phone" column="doc_phone"/>
		<result property="email" column="doc_email"/>
		<result property="major" column="major_treat"/>
		<result property="position" column="doc_position"/>
	</resultMap>
	<resultMap id="Nurse" type="com.hospital.web.domain.Nurse" >
		<id property="id" column="nur_id"/>
		<result property="pass" column="nur_pass"/>
		<result property="name" column="nur_name"/>
		<result property="gen" column="nur_gen"/>
		<result property="phone" column="nur_phone"/>
		<result property="email" column="nur_email"/>
		<result property="major" column="major_job"/>
		<result property="position" column="nur_position"/>
	</resultMap>
	<resultMap id="Chart" type="com.hospital.web.domain.Chart" >
		<id property="chartId" column="chartId"/>
		<result property="nurseId" column="nurseId"/>
		<result property="doctorId" column="doctorId"/>
		<result property="pass" column="pass"/>
		<result property="name" column="name"/>
		<result property="gen" column="gen"/>
		<result property="jumin" column="jumin"/>
		<result property="addr" column="addr"/>
		<result property="phone" column="phone"/>
		<result property="email" column="email"/>
		<result property="job" column="job"/>
		<result property="treatmentId" column="treatmentId"/>
		<result property="chartContents" column="chartContents"/>
		<result property="doctorMajor" column="doctorMajor"/>
		<result property="doctorName" column="doctorName"/>
		<result property="doctorPosition" column="doctorPosition"/>
		<result property="nurseName" column="nurseName"/>
		<result property="nursePosition" column="nursePosition"/>
		<result property="treatContents" column="treatContents"/>
		<result property="treatDate" column="treatDate"/>
	</resultMap>
	<resultMap id="Article" type="com.hospital.web.domain.Article">
	  <id property="seq" column="art_seq"/>
      <result property="writerId" column="writer_id"/>
      <result property="name" column="name"/>
      <result property="title" column="title"/>
      <result property="content" column="content"/>
      <result property="regDate" column="reg_date"/>
      <result property="readCount" column="read_count"/>
	</resultMap> 
	<insert id="registPatient">
		INSERT INTO ${group}(pat_id, nur_id, doc_id, pat_pass, pat_name, pat_gen, pat_jumin, pat_addr, pat_phone, pat_email, pat_job) 
		VALUES (#{id}, #{nurID}, #{docID}, #{pass}, #{name}, #{gen}, #{jumin}, #{addr}, #{phone}, #{email}, #{job})
	</insert>
	<insert id="registDoctor">
		INSERT INTO ${group}(doc_id, doc_pass, doc_name, doc_gen, doc_phone, doc_email, major_treat, doc_position) 
		VALUES (#{id}, #{pass}, #{name}, #{gen}, #{phone}, #{email}, #{major}, #{position})
	</insert>
	<insert id="registNurse">
		INSERT INTO ${group}(nur_id, nur_pass, nur_name, nur_gen, nur_phone, nur_email, major_job, nur_position) 
		VALUES (#{id}, #{pass}, #{name}, #{gen}, #{phone}, #{email}, #{major}, #{position})
	</insert>
	<insert id="registChartFile">
		INSERT INTO Chart(chart_contents) VALUE (#{file})
		WHERE chart_id = #{chartId}
	</insert>
	<select id="findPatient" resultMap="Patient" parameterType="hashMap">
		SELECT * FROM ${group} WHERE ${key} = #{value}
	</select>
	<select id="findDoctor" resultMap="Doctor" parameterType="hashMap">
		SELECT * FROM ${group} WHERE ${key} = #{value}
	</select>
	<select id="findNurse" resultMap="Nurse" parameterType="hashMap">
		SELECT * FROM ${group} WHERE ${key} = #{value}
	</select>
	<select id="findPatients" resultMap="Patient" parameterType="hashMap">
		SELECT * FROM ${group} 
		WHERE
		<if test="nurID != null">
			nur_id like #{nurID}
		</if>
		<if test="docID != null">
			AND doc_id like #{docID}
		</if>
		<if test="name != null">
			pat_name like #{name}
		</if>
		<if test="gen != null">
			pat_gen = #{gen}
		</if>
		<if test="addr != null">
			pat_addr like #{addr}
		</if>
		<if test="job != null">
			name like #{pat_name}
		</if>
	</select>
	<select id="findDoctors" resultMap="Doctor" parameterType="hashMap">
		SELECT * FROM ${group} 
		WHERE
		<if test="name != null">
			doc_name like #{name}
		</if>
		<if test="gen != null">
			doc_gen = #{gen}
		</if>
		<if test="major != null">
			major_treat like #{major}
		</if>
		<if test="position != null">
			doc_position like #{position}
		</if>
		
	</select>
	<select id="findNures" resultMap="Nurse" parameterType="hashMap">
		SELECT * FROM ${group} 
		WHERE
		<if test="name != null">
			nur_name like #{name}
		</if>
		<if test="gen != null">
			AND nur_gen = #{gen}
		</if>
		<if test="major != null">
			major_job like #{major}
		</if>
		<if test="position != null">
			nur_position like #{position}
		</if>
	</select>
	<select id="count" resultType="int">
		SELECT COUNT(*) FROM ${group}
	</select>
	<select id="exist" resultType="int" parameterType="hashMap">
		SELECT COUNT(*) FROM ${group} WHERE ${idType} = #{id}
	</select>
	<select id="findChart" resultMap="com.hospital.web.domain.Chart.java" parameterType="hashMap">
		SELECT * FROM chartView
		WHERE patientId = #{id}
	</select>
	<select id="articleList" resultMap="Article" parameterType="hashMap">
		SELECT t2.*
		FROM(SELECT @ROWNUM := @ROWNUM + 1 AS rownum
		,t.writer_id
		,t.title
		,t.content
		,t.reg_date
		,t.read_count
		,t.art_seq
		FROM Article t
		,(SELECT @ROWNUM := 0) R
			ORDER BY t.reg_date DESC
			)t2
			WHERE t2.rownum BETWEEN 1 AND 5
			ORDER BY t2.rownum ASC;
			
	</select>
	<update id="updatePatient">
		UPDATE ${group}
		<set>
			<if test="nurID != null">nur_id=#{nurID},</if>
			<if test="docID != null">doc_id=#{docID},</if>
			<if test="pass != null">pat_pass=#{pass},</if>
			<if test="name != null">pat_name=#{name},</if>
			<if test="gen != null">pat_gen=#{gen},</if>
			<if test="jumin != null">pat_jumin=#{jumin},</if>
			<if test="addr != null">pat_addr=#{addr}</if>
			<if test="phone != null">pat_phone=#{phone}</if>
			<if test="email != null">pat_email=#{email}</if>
			<if test="job != null">pat_job=#{job}</if>
		</set>
		where ${key} = #{value}
	</update>
	<update id="updateDoctor">
		UPDATE ${group}
		<set>
			<if test="pass != null">doc_pass=#{pass},</if>
			<if test="name != null">doc_name=#{name},</if>
			<if test="gen != null">doc_gen=#{gen},</if>
			<if test="phone != null">doc_phone=#{phone},</if>
			<if test="email != null">doc_email=#{email},</if>
			<if test="major != null">major_treat=#{major}</if>
			<if test="position != null">doc_position=#{position}</if>
		</set>
		where ${key} = #{value}
	</update>
	<update id="updateNurse">
		UPDATE ${group}
		<set>
			<if test="pass != null">nur_pass=#{pass},</if>
			<if test="major != null">major_job=#{major},</if>
			<if test="name != null">nur_name=#{name},</if>
			<if test="gen != null">nur_gen=#{gen},</if>
			<if test="phone != null">nur_phone=#{phone},</if>
			<if test="email != null">nur_email=#{email},</if>
			<if test="position != null">nur_position=#{position}</if>
		</set>
		where ${key} = #{value}
	</update>
	<delete id="delete" parameterType="hashMap">
		DELETE FROM ${group} WHERE ${key} = #{value}
	</delete>

	
	
	
	
	
	
	
	
	<!-- <select id="find" resultType="com.hospital.web.domain.Patient">
		
		SELECT * FROM Patient WHERE id = ‘ACTIVE’
		
		<if test="title != null">
			AND title like #{title}
		</if>
	</select>
	<select id="find2" resultType="com.hospital.web.domain.Patient">
		SELECT * FROM Patient WHERE state = ‘ACTIVE’
		<if test="title != null">
			AND title like #{title}
		</if>
		<if test="author != null and author.name != null">
			AND author_name like #{author.name}
		</if>
	</select>
	<select id="find3" resultType="com.hospital.web.domain.Patient">
		SELECT * FROM Patient WHERE state = ‘ACTIVE’
		<choose>
			<when test="title != null">
				AND title like #{title}
			</when>
			<when test="author != null and author.name != null">
				AND author_name like #{author.name}
			</when>
			<otherwise>
				AND featured = 1
			</otherwise>
		</choose>
	</select>
	<select id="find4" resultType="com.hospital.web.domain.Patient">
		SELECT * FROM Patient
		WHERE
		<if test="state != null">
			state = #{state}
		</if>
		<if test="title != null">
			AND title like #{title}
		</if>
		<if test="author != null and author.name != null">
			AND author_name like #{author.name}
		</if>
	</select>
	<select id="find5" resultType="com.hospital.web.domain.Patient">
		SELECT * FROM Patient
		<where>
			<if test="state != null">
				state = #{state}
			</if>
			<if test="title != null">
				AND title like #{title}
			</if>
			<if test="author != null and author.name != null">
				AND author_name like #{author.name}
			</if>
		</where>
	</select>
	
	<select id="find6" resultType="com.hospital.web.domain.Patient">
		SELECT * FROM Patient P
		WHERE ID in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>
	<select id="find7" resultType="com.hospital.web.domain.Patient">
		<bind name="pattern" value="'%' + _parameter.getTitle() + '%'" />
		SELECT * FROM Patient
		WHERE title LIKE #{pattern}
	</select> -->
	
</mapper>